* {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 100px);  
    grid-template-rows: repeat(2, 100px); 
    background-color: #40fef4;
    gap: 25px;
    width: 600px;
}

.item-1, .item-2, .item-3, .item-4, .item-5{
    background-color: #00b3ff;
}

.item-6, .item-7, .item-8, .item-9, .item-10 {
    background-color: #0051ff;
}